.body {
    background-color: whitesmoke;
}

#capa{
    background-image: url("src/processador_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* Filtro escuro com blur */
#capa::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* escurece */
    backdrop-filter: blur(4px);           /* aplica blur */
    z-index: 0;                           /* fica atrás do conteúdo */
  }
  
  /* Garante que o conteúdo do #capa fique acima do ::after */
#capa > * {
    position: relative;
    z-index: 1;
}

.caixa .carta .imagem img {
    max-width: 100%;
    width: 206px;
    height: 206px;
    border-radius: 15px;
}

.caixa .carta .imagem {
  position: relative;
  text-align: center;
  width: 206px;
  height: 206px;
  top: -40%;
  left: 5%;

  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
@media (max-width: 380px) {
  .caixa .carta .imagem img {
    width: 190px;
    height: 190px;
  }
  .caixa .carta .imagem {
    align-self: center;
    width: 190px;
    height: 190px;
  }
}
.caixa .carta {
  max-width: 300px;
  height: 215px;
  background-color: #0d1821;
  margin: 60px 20px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.caixa .carta:hover {
  height: 320px;
}

.caixa .carta .texto {
  justify-items: center;
  position: relative;
  top: -140px;
  padding: 30px 15px;
  padding-bottom: 30px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.caixa .carta .texto p {
  justify-items: center;
  height: 130px;
  overflow-y: auto;
}

.caixa .carta:hover .texto {
  color: white;
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

.caixa {
  padding-top: 35px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}